<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Information retrieval - assignment</title>
    <script src="{{ url_for('static', filename='js/jquery-3.1.1.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery-ui.js') }}"></script>
    <script src="{{ url_for('static', filename='js/autocomplete.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" type="text/css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/normalize.css') }}" type="text/css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/skeleton.css') }}" type="text/css">
</head>
<body>
<div class="container">
    <div class="row" id="header-row">
        <!-- header -->
        <div class="twelve columns">
            Information retrieval
        </div>
    </div>

    <div class="row">
        <div class="two columns">fazety</div>
        <div class="eight columns">
            <input id="search" class="u-full-width" placeholder="Search" type="email">
        </div>
        <div class="two columns">
            <input type="button" value="search" onclick="search()">
        </div>
    </div>
    <div class="row">
        <div class="five columns">

        </div>
        <div class="two columns">

        </div>
        <div class="five columns">

        </div>
    </div>
</div>

</div>
</body>
</html>